.Page-Header{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Page-Header h1{
    color: rgb(40, 40, 169);
    font-size: 80px;
    font-style: italic;
    font-family: poppins;
}
.Page-Header h2{
    margin-top: 10px;
    margin-left: 20px;
    color: rgb(40, 40, 169);
    font-size: 40px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Animal_img{
    margin: 100px;
    margin-left: 90px;
    border: 10px;
    border-color:black ;
}
.Img_container{
    display:flex;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
}